* {
    margin: 0;
    padding: 0; 
}
/* high scores and timer */

header {
    color: purple;
    margin:10px;
    padding-bottom: 5%;
    justify-content: center;
    padding:5%;
  
}

.timer {
    color: purple;
    float:right;
    justify-content: center;
}

/* body, p, button style*/
h1 {
    justify-content: center;
    margin-left:40%;
    color: purple;
    padding:1%;
    font-size:50px;
    display: inline-block;
}

p{
    justify-content: center;
    margin-left: 15%;
    flex-wrap: wrap;
    padding-bottom:5%;
    display:inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button {
    background-color:purple;
    border: none;
    color: white;
    padding: 5px 30px 5px;
    text-align:left;
    text-decoration: none;
    display:inline-flex;
    font-size: 15px;
    margin-left:48%;

}

/* Questions display */
.questions {
    display: none;

}



